@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body,
html{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: arial;
    text-transform: uppercase;
    background-color: aliceblue;
}
.container{
    width: 480px;
    margin: 25px auto;
    display: grid;
    grid-template-areas: "header header"
                         "aside aside"
                         "main main"
                         "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 200px;
    row-gap: 15px;
    column-gap: 10px;
}
.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 5px 10px 5px ;
    margin: 20px 5px;
    background-color: rgba(203, 222, 233, 0.418);
}
header{
    grid-area: header;
    height: 250px;
    background-color: rgb(130, 167, 202);
    text-align: center;
    font-family:'Balsamiq Sans', cursive;
    color: whitesmoke;
}
main{
    grid-area: main;
    box-sizing: border-box;
    text-transform: none;  
    font-family: 'Nunito', sans-serif;
}
main article{
    padding:10px;
    font-family: 'Balsamiq Sans', cursive;
}
main article p{
    margin: 10px 5px;
}
main table{
    padding: 25px 45px;
}
main table th{
    padding: 10px;
    font-size: 18px;
    
}
main article{
    font-size: 40px;
    text-align: center;
}
main p{
    padding: 20px 35px;
    text-align: justify;
}
main .boxSkill{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    border-radius: 10px 5px 10px 5px ;
    margin: 20px 5px;
}
main .boxSkill img{
    padding: 20px 15px;
    width :200px;
    height: 125px;
}


aside .box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 5px 10px 5px ;
    padding: 10px 20px;
}
aside {
    grid-area: aside;
    text-align:center;
}
aside img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
aside p{
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}
footer{
    grid-area: footer;
    background-color: rgb(130, 167, 202);
    padding:20px 20px;
    text-transform: none;
    font-size: 18px;
    color:whitesmoke;
    font-family: 'Balsamiq Sans', cursive;
}


@media screen and (min-width : 576px) {
    .container{
        width: 650px;
        grid-template-areas: "header header"
                             "aside main"
                             "none main"
                             "footer footer";
    }
}
@media screen and (min-width : 850px) {
    .container{
        width: 1000px;
        grid-template-areas: "header header"
                             "aside main"
                             "none main"
                             "footer footer";
    }
}
